# OSX
.DS_Store

# VS Code settings
.vscode
.project
.settings
.classpath

# webstorm
.idea

# node.js
node_modules/
npm-debug.log
yarn-error.log

src/
jest.config.js
tsconfig.json
.eslintrc.js
.huskyrc
.lintstagedrc
.prettierignore
.prettierrc.js
package-lock.json
coverage/
**/__tests__/
